{% load staticfiles %}
<html>
    <head>
        <title>Amadon Checkout</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'amadon_app/css/styles.css' %}">
    </head>
    <body>
        <h1>Thank you for your business!</h1>
        <div class="message">
            <h3>We charged your credit card $XXXX</h3>
            <h3>You have ordered XX items so far and spent $XXXXX with Amadon.com!</h3>
        </div>
        <a href='/amadon'>Go back</a>
    </body>
</html>